h1 {
	text-align:center;
	background-color: silver;
	display: block;
	width: 100%;
	height: 80px;
	margin: 0;
}

#catCounter {
	background-color: silver;
	margin:0 auto;
	width:900px;
	height:100px;
	text-align: center;
}

#catNav{
	
	overflow:hidden;
	background-color:#333;
	height:45px;
}

ul {
	list-style-type: none;
	margin:0;
	padding:0;
}

#catList li {
	color: red;
	display: block;
	float:left;
	text-align: center;
	padding: 14px 16px;
}


img {
	display: block;
	height:auto;
	width: 100%;
	max-height:100%;
}


#catContent {
	display: block;
	margin: auto;
	height: 600px;
	width:900px;
}

#catName {
	background-color: aqua;
	text-align: center;
	font-size:25px;
}

#adminArea {
	display:block;
	margin:auto;
	width:900px;
	height:600px;
	background-color: #d3d3d3;
}